/* .container {
	width: 1116px;
	padding: 0 2px;
} */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--animate-duration: 1s;
	--animate-delay: 1s;
	--animate-repeat: 1;
}

.container-fluid {
	padding: 0;
}

ul,
li {
	list-style: none;
}

body {
	background-color: #fff;
	font-family: 'Poppins', sans-serif;
	color: #212529;
	font-size: 14px;
	line-height: 26px;
	margin: 0;
}

.bg-header {
	background-color: rgb(240 245 250);
}

.header-top {
	height: 60px;
	line-height: 60px;
	font-size: 14px;
	font-weight: 600;
	border-bottom: 2px solid rgba(0, 0, 0, .06);
}

.header-top .header-nav-top li {
	margin-right: 30px;
	color: #777;
}

.header-top .header-nav-top li a {
	color: #777;
}

.header-top .header-nav-top li a:hover {
	color: #0052cc;
	transition: all .2s ease-in-out;
}

.header-top .social li {
	transition: all .2s ease-in-out;
}

.header-top .social li a {
	color: #1d1d1d;
	padding: 6px 12px;

}

.header-top .social li:hover {
	transform: translateY(-8px);
}

.header-top .social li a:hover {
	color: #0052cc;
}

.header-container .logo {
	height: 100px;
	display: flex;
	align-items: center;
}

.header-container .logo p {
	color: #0052cc;
	font-weight: 700;
	font-size: 32px;
	margin: 0;
}

/* .header-container img {
	width: 120px;
} */

.header-nav ul li.search .btn {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	padding: 0;
	color: #1d1d1d;
	font-size: 16px;
}

.dropdown-toggle::after {
	display: none;
}

.header-nav ul li.search {
	position: relative;
}

.header-nav ul li.search button i {
	line-height: 55px;
	color: #666;
}

.header-nav ul li ul.dropdown-menu.show {
	min-width: 300px;
	padding: 20px;
	border-radius: 0;
	border: none;
	box-shadow: 0 10px 30px 10px rgba(0, 0, 0, .03);
	transform: none !important;
	position: absolute !important;
	right: -10px !important;
	top: 55px !important;
}

.header-nav ul li ul.dropdown-menu li.input-search input {
	height: 50px;
	width: 80%;
	border: 1px solid #ddd;
	border-right: none;
	padding-left: 15px;
	outline: none;
}

.header-nav ul li ul.dropdown-menu li.input-search i {
	border: 1px solid #ddd;
	border-left: none;
	line-height: 50px;
	width: 20%;
	text-align: center;
	background-color: #1d1d1d;
	color: #fff;
}

.header-nav ul li ul.dropdown-menu.show:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 5px;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #fff;
	transform: translate3d(-7px, -6px, 0);
}

#button button {
	padding: 12px 24px;
	background-color: rgba(0, 0, 0, 0);
	border: #0052cc 3px solid;
	border-radius: 8px;
	margin: 0 16px;
}

#button a {
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	color: #0052cc;
	margin-right: 5px;
}

#button i {
	color: #0052cc;
}

#button button:hover {
	background-color: #0052cc;
	margin: 0 10px 0 22px;
	transition: .2s;
}

#button button:hover a {
	color: #fff;
}

#button button:hover i {
	color: #fff;
	animation: arrow .3s ease-out;
}

@keyframes arrow {
	0% {
		transform: translateX(0);
	}

	51% {
		transform: translateX(20px);
		opacity: 1;
	}

	52% {
		opacity: 0;
		transform: translateX(-20px);
	}

	53% {
		opacity: 0;
	}

	54% {
		opacity: 1;
	}

	100% {
		transform: translateX(0);
	}
}

.dropdown-menu li {
	position: relative;
}

.nav-item .submenu {
	display: none;
	position: absolute;
	left: 100%;
	top: -7px;
}

.nav-item .submenu-left {
	right: 100%;
	left: auto;
}

.dropdown-menu>li:hover {
	background-color: #f1f1f1
}

.dropdown-menu>li:hover>.submenu {
	display: block;
}

.navbar-expand-lg .navbar-nav .nav-link {
	color: #555;
	font-size: 16px;
	font-weight: 600;
	padding-left: 12px;
	padding-right: 12px;
}


.navbar-expand-lg .navbar-nav .nav-link:focus,
.navbar-expand-lg .navbar-nav .nav-link:hover {
	color: #0052cc;

}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
	color: #0052cc;
}

.header-nav ul li#nav ul.dropdown-menu.show:before {
	display: none;
}

.header-nav ul li#nav ul.dropdown-menu.show {
	left: 0 !important;
	min-width: 270px;
	padding: 5px 0;
	border-radius: 5px;
}

.header-nav ul li#nav ul.dropdown-menu .dropdown-item {
	padding: 8px 18px;
	font-size: 18px;
	color: #777;
	font-weight: 300;
	height: 50px;
	line-height: 33px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-nav ul li#nav ul.dropdown-menu .dropdown-item i {
	font-size: 15px;
	color: #777;
	padding-right: 5px;
}

.header-nav ul li#nav ul.dropdown-menu:hover {
	background-color: #fefefe;
}

.header-nav ul li#nav ul.dropdown-menu .dropdown-item:hover i {
	padding-right: 0;
	transition: 0.2s;
}

.header-nav ul li#nav ul.dropdown-menu .submenu {
	border: none;
	border-radius: 5px;
	min-width: 270px;
	box-shadow: 0 10px 30px 10px rgba(0, 0, 0, .03);

}

/* div.dropdown-menu.element.show {
	justify-content: center;
	top: 55px !important;
	padding: 5px 10px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 10px 30px 10px rgba(0, 0, 0, .03);

}

.header-nav ul li#nav div.dropdown-menu.element .element-item {
	padding: 26px 16px;
}

.header-nav ul li#nav div.dropdown-menu.element .element-item span {
	font-size: 18px;
	color: #444;
	font-weight: 600;
	padding-left: 18px;
	height: 50px;
	line-height: 50px;
}

.header-nav ul li#nav div.dropdown-menu.element .element-item .dropdown-item {
	min-width: 270px;
	font-size: 18px;
	color: #777;
	font-weight: 300;
	height: 50px;
	line-height: 33px;
	padding: 8px 18px;
} */

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	justify-content: center;
	z-index: 100;
}



#bg-nav {
	background-color: rgb(240 245 250);
	padding: 0;
}

#bg-nav .sticky {
	background-color: #fff;
	padding-bottom: 100px;
}

#bg-nav .header-container.sticky {
	max-width: 100%;
	padding: 0 72px;
}

/* #bg-nav .header-container.sticky+.hero-header {
	padding-top: 135px;
} */
/* .hero-header .sub {
	width: 100%;
	height: 200px;
	display: none;
}

.sticky+.sub {
	display: block;
} */

.sticky+.hero-header {
	padding-top: 150px;
	transition: 0s;
}

.hero-header {
	padding-left: 72px;
	padding-top: 50px;
	padding-bottom: 50px;
	height: 1100px;
}

#divider-small {
	height: 6px;
	width: 50px;
	border-radius: 3px;
	background-color: #0052cc;
	margin: 70px auto 22px 0;
}

.hero-header h3 {
	color: #969696;
	font-size: 18px;
	font-weight: 600;
	line-height: 26px;
	text-transform: uppercase;
	letter-spacing: 3px;
}



.hero-header h1 {
	font-size: 35px;
	line-height: 46px;
	font-weight: 700;
	margin-bottom: 26px;
}

.bg-btn#button button {
	padding: 16px 48px;
	background-color: #0052cc;
	margin: 0;
	margin-top: 10px;
}

.bg-btn#button a {
	color: #fff;
	font-size: 14px;
}

.bg-btn#button i {
	color: #fff;
}

.bg-btn#button button:hover {
	background-color: #0052cc;
	margin-top: 0px;
	margin-bottom: 10px;
	transition: .2s;
}

.bg-btn#button button:hover a {
	color: #fff;
}

.bg-btn#button button:hover i {
	color: #fff;
	animation: arrow .3s ease-out;
}

.hero-header .custom-element {
	top: 80px;
	left: 50px;
}

.hero-header .custom-element-1 {
	background: 0 0;
	border: 3px solid #0052cc;
	opacity: .05;
	border-radius: 25px;
	transform: rotate(45deg);
	top: -114px;
	left: 330px;
	width: 300px;
	height: 300px;
}

.hero-header .custom-element-2 {
	width: 150px;
	height: 150px;
	background: #0052cc;
	border: 3px solid #0052cc;
	opacity: .05;
	border-radius: 25px;
	transform: rotate(45deg);
	top: 78px;
	left: 556px;
}

.hero-header .custom-element-3 {
	width: 100px;
	height: 100px;
	background: #0052cc;
	border: 3px solid #0052cc;
	opacity: .05;
	border-radius: 25px;
	transform: rotate(45deg);
	top: 211px;
	left: 277px;
}

.hero-header .custom-element-4 {
	width: 100px;
	height: 100px;
	background: 0 0;
	border: 3px solid #0052cc;
	opacity: .05;
	border-radius: 25px;
	transform: rotate(45deg);
	top: 162px;
	left: 726px;
}


.hero-header .sub-banner .item img {
	height: 174px;
	width: 390px;
	border-radius: 5px;
	margin: 0 !important;
	border-radius: 10px;
}

.hero-header .sub-banner .item .bg {
	height: 174px;
	width: 390px;
	position: absolute;
	background-color: rgb(26 25 25 / 88%);
	top: 0;
	border-radius: 10px;

}

.hero-header .sub-banner .item .bg-blue {
	height: 174px;
	width: 390px;
	position: absolute;
	background-color: rgb(0 82 204 / 88%);
	top: 0;
	border-radius: 10px;

}

.hero-header .sub-banner .item h1 {
	font-size: 20px;
	color: #fff;
	font-weight: 600;
	top: 86px;
	padding-left: 30px;
	padding-top: 5px;
}

.hero-header .sub-banner .item p {
	font-size: 14px;
	color: #cfcfcf;
	font-weight: 400;
	top: 124px;
	padding-left: 30px;
	padding-top: 5px;
}

.hero-header .sub-banner .item:hover h1,
.hero-header .sub-banner .item:hover p {
	color: #fff;
	padding-top: 0;
	transition: .3s;
}

.hero-header .sub-banner {
	width: 855px;
	right: 240px;
	bottom: -60px;
}

.hero-header .sub-banner .owl-carousel.owl-drag .owl-item.active {
	width: 410px !important;
	display: block;
}

.hero-header .user {
	right: -140px;
	top: 20px;
}

.hero-header .user .custom-element-user {
	height: 440px;
	width: 440px;
	background-color: #212529;
	border-radius: 25px;
	transform: rotate(45deg);
}

.hero-header .user .custom-element-user img {
	transform: rotate(-45deg);
	left: -77px;
	top: -46px;
	height: 640px;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 77.2% 100%, 0 54%);
}

#title {
	text-align: center;
	margin: 100px auto 34px;
}

#title #divider-small {
	margin: 0 auto 22px auto;
}

#title h3 {
	font-size: 16px;
	color: #969696;
	letter-spacing: 3px;
	font-weight: 600;
}

#title h1 {
	font-weight: 600;
	font-size: 32px;
	line-height: 48px;
}

#title p {
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;
	color: #777;
	margin-top: 20px;
}

.mission .img {
	height: 420px;
}

.mission .img .img-bg {
	background-color: #0052cc;
	width: 300px;
	height: 300px;
	border-radius: 35px;
	transform: rotate(45deg);
	top: 60px;
	left: 60px;
}

.mission .img .img-main {
	width: 300px;
	height: 300px;
	border-radius: 35px;
	transform: rotate(45deg);
	top: 60px;
	left: 100px;
}

.mission .img .dots-1 {
	width: 150px;
	height: 150px;
	top: 34px;
	left: 24px;
}

.mission .img .dots-2 {
	width: 150px;
	height: 150px;
	top: 230px;
	left: 290px;
}

.content-body h6 {
	font-size: 18px;
	font-weight: 400;
	color: #777;
	margin-bottom: 20px;
	line-height: 28px;
}

.content-body p {
	font-size: 15px;
	font-weight: 300;
	color: #777;
	margin-bottom: 20px;
}

.content-body .list i {
	font-size: 28px;
	color: #0052cc;
	padding-right: 10px;
}

.content-body .list p {
	font-size: 15px;
	font-weight: 300;
	color: #777;
	margin-bottom: 15px;
}

.content-body .list {
	padding: 10px 0 20px 0;
}

.bg-services {
	background-color: rgb(240 245 250);
	margin-top: 70px;
	padding-bottom: 100px;
}

.strategic {
	padding: 50px;
	background-color: #fff;
	text-align: center;
	overflow: hidden;
	border-radius: 10px;
}

.services div .item {
	padding-top: 10px;
	padding-bottom: 60px;
}

.strategic .border {
	height: 7px;
	width: 0;
	display: flex;
	justify-content: center;
	background-color: #0052cc;
	top: 0;
	left: 170px;
	border: none !important;
}

.strategic img {
	height: 72px;
	filter: invert(16%) sepia(82%) saturate(4881%) hue-rotate(210deg) brightness(89%) contrast(101%);
	margin-top: 10px;
}

.strategic h1 {
	font-size: 20px;
	font-weight: 700;
	margin: 24px 0 10px;
}

.strategic p {
	font-size: 15px;
	font-weight: 400;
	color: #777;
	margin-bottom: 10px;
}

.strategic a {
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	color: #0052cc;
	top: 295px;
	left: 137px;
}

.strategic:hover {
	box-shadow: 0 12px 45px rgba(0, 0, 0, .08);
	transform: translateY(-10px);
	transition: all .5s ease-in-out;
}

.strategic:hover .border {
	width: 100%;
	transition: all .5s ease-in-out;
	left: 0;
}

.strategic:hover a {
	top: 240px;
	transition: all .5s ease-in-out;
}

.strategic a:hover {
	text-decoration: underline;
}

.strategic:hover img {
	margin-top: 0;
	transition: .5s;
}

#particles-js {
	width: 100%;
	height: 450px;
	background-color: #222529;
	padding: 0;
}

.stats #title h1 {
	color: #fff;
}

.stats .content .item {
	padding: 24px 0;
}

.stats .content .item .number {
	display: flex;
	justify-content: center;
}

.stats .content .item h2 {
	color: #fff;
	font-size: 50px;
	font-weight: 600;
	line-height: 50px;
	margin: 0;
	text-align: center;
}

.stats .content .item p {
	color: #fff;
	font-size: 45px;
	font-weight: 700;
	line-height: 50px;
	margin: 0;
}

.stats .content .item label {
	color: #969696;
	font-size: 16px;
	font-weight: 500;
	display: flex;
	justify-content: center;
}

.bg-particles {
	background-color: rgba(34, 37, 41, .7);
	width: 100%;
	height: 100%;
	padding: 0;
}

.bg-testimonials {
	background-color: rgb(240 245 250);
	height: 100%;
	padding-bottom: 100px;
}

.testimonials .content .item p.cmt {
	color: #777;
	font-size: 16px;
	line-height: 26px;
	border-radius: 3px;
	padding: 25px 40px 25px 30px;
	background-color: #fff;
	width: 460px;
	margin-bottom: 0;
	box-shadow: 0 10px 30px rgba(0, 0, 0, .03);

}

.testimonial-arrow-down {
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-top: 10px solid #fff !important;
	height: 0;
	margin: 0 0 0 20px;
	width: 0;
}

.testimonials .content .item .user {
	margin: 12px 0 0 10px;
}

.testimonials .content .item .user img {
	width: 55px;
	border-radius: 50%;
	margin-right: 15px;
}

.testimonials .content .item .user h6 {
	font-size: 16px;
	color: #111;
	font-weight: 600;
	margin: 0;
}

.testimonials .content .item .user p {
	font-size: 12px;
	color: #666;
	font-weight: 500;
	margin: 0;
	line-height: 18px;
}

.testimonials .content {
	width: 974px !important;
}

.testimonials .owl-carousel .owl-stage {
	display: flex;
	justify-content: space-between;
}

.brand {
	margin: 100px auto;
}

.brand div.row div {
	text-align: center;
}

.brand div.row div .img.brand-1 {
	height: auto;
	max-width: 90px;
}

.brand div.row div .img.brand-2 {
	height: auto;
	max-width: 140px;
}

.brand div.row div .img.brand-3 {
	height: auto;
	max-width: 140px;
}

.brand div.row div .img.brand-4 {
	height: auto;
	max-width: 140px;
}

.brand div.row div .img.brand-5 {
	height: auto;
	max-width: 100px;
}

.brand div.row div .img.brand-6 {
	height: auto;
	max-width: 100px;
}

#contact {
	background-image: url(../img/parallax-1.jpeg);
	background-size: cover;
	width: 100%;
	padding: 100px 0;
}

#contact .title {
	padding-bottom: 25px;
}

#contact .title h1 {
	font-size: 30px;
	font-weight: 600;
	color: #fff;
	margin: 0;
}

#contact .title .phone-number i {
	font-size: 30px;
	margin-right: 10px;
	color: #fff;
}

#contact .title .phone-number p {
	font-size: 12px;
	font-weight: 500;
	color: #fff;
	margin: 0;
}

#contact .title .phone-number h5 {
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	margin: 0;

}

#contact .line {
	width: 100%;
	height: 1px;
	background-color: #5897df;
}

#contact .content {
	padding-top: 25px;
}

#contact .content h1 {
	font-size: 20px;
	color: #fff;
	font-weight: 600;
	padding: 0 12px;
}

#contact .content input {
	padding: 16px 12px;
	margin: 0px 12px;
	background-color: #fff;
	border: none;
	width: 265px;
	border-radius: 10px;
	text-transform: capitalize;
	outline: none;
}

#contact .content .bg-btn#button button {
	padding: 16px 48px;
	background-color: #212529;
	margin: 0;
	border: none;
	border-radius: 10px;
	text-transform: capitalize;
}

#contact .content .bg-btn#button button:hover {
	background-color: #32383e;
}

.bg-blog {
	background-color: rgb(240 245 250);
	height: 100%;
	padding-bottom: 70px;
}

.blog .content .item .img img {
	width: 100%;
	border-radius: 5px;
}

.blog .content .item .img .tag {
	bottom: 24px;
	right: 24px;
	background-color: #0052cc;
	padding: 8px 16px;
	border-radius: 5px;
	color: #fff;


	text-align: center;
}

.blog .content .item .img .tag h1 {
	margin: 0;
	font-size: 25px;
	font-weight: 600;
}

.blog .content .item .img .tag p {
	margin: 0;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 2px;
	padding-left: 2px;
}

.blog .content .item .blog-content {
	padding: 24px 0;
}

.blog .content .item .blog-content p {
	font-weight: 500;
	color: #969696;
	font-size: 13px;
	letter-spacing: 2px;
	margin: 0;
}

.blog .content .item .blog-content a h1 {
	font-weight: 700;
	font-size: 20px;
	color: #212529;
	line-height: 32px;
}

.blog .content .item .blog-content a {
	text-decoration: none;
	font-size: 13px;
	font-weight: 600;
	color: #0052cc;
}

.blog .content .item .blog-content a h1:hover {
	color: #0052cc;
}

.blog .content .item .blog-content a:hover {
	text-decoration: underline;
}

#infor {
	margin: 70px auto 100px auto;
}

#infor .item h1 {
	font-weight: 700;
	font-size: 22px;
}

#infor .item .address,
#infor .item .phone,
#infor .item .mail {
	margin: 8px auto;
}

#infor .item i {
	width: 30px;
	height: 30px;
	color: #0052cc;
	padding: 6px;
	border: 2px solid #0052cc;
	border-radius: 50%;
	text-align: center;
}

#infor .item p {
	margin: 0;
	font-size: 16px;
	line-height: 26px;
	padding-top: 8px;
	padding-left: 10px;
	color: #777;
}

#infor .item a {
	margin: 0;
	font-size: 16px;
	line-height: 26px;
	padding-top: 8px;
	padding-left: 10px;
	color: #0052cc;
}

#infor .item a:hover {
	color: #0052cc;
	text-decoration: underline;
}

.bg-footer {
	background-color: #212529;
	height: 100%;
	color: #fff;
	padding-top: 100px;
}

.footer .contact img {
	width: 120px;
	margin-bottom: 24px;
}

.footer .contact p {
	font-size: 14px;
	color: #777;
	margin-bottom: 15px;
	height: auto;
	display: block;
	font-weight: 400;
}

.footer .contact ul.phone-mail {
	font-size: 16px;
	color: #fff;
	margin-bottom: 15px;
	padding: 0;
}

.footer .contact ul.phone-mail li i {
	font-size: 18px;
	color: #fff;
	margin-right: 10px;
}

.footer .contact ul.phone-mail li a {
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	font-weight: 600;
}

.footer .contact ul.phone-mail li a:hover {
	color: #777;
}

.footer .contact ul.social {
	padding: 0;
}

.footer .contact ul.social li a {
	text-decoration: none;
}

.footer .line {
	height: 1px;
	background-color: #444343;
	margin-top: 100px;
}

.footer .copyright {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #4a4a4a;
	font-weight: 300;
	padding: 20px 0;
	margin: 0;
}

.contact ul.social li a i {
	margin: 0;
	color: #fff;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin-right: 5px;
}

.contact ul.social li a i.fa-facebook-f:hover {
	background-color: #3b5a9a;
	transition: .1s;
}

.contact ul.social li a i.fa-twitter:hover {
	background-color: #1aa9e1;
	transition: .1s;
}

.contact ul.social li a i.fa-instagram:hover {
	background-color: #7c4a3a;
	transition: .1s;
}

.contact ul.social li a i.fa-linkedin-in:hover {
	background-color: #0073b2;
	transition: .1s;
}

.footer .nav-links .item h1 {
	font-size: 18px;
	margin-bottom: 30px;
}

.footer .nav-links .item .link ul {
	padding: 0;
	margin-bottom: 50px;
}

.footer .nav-links .item .link ul li {
	margin-bottom: 4px;
}

.footer .nav-links .item .link ul li a {
	font-size: 14px;
	color: #777;
	text-decoration: none;
	text-transform: capitalize;
}

.footer .subscribe {
	padding: 0;
}

.footer .subscribe h1 {
	font-size: 18px;
	margin-right: 16px;
	text-transform: capitalize;
}

.footer .subscribe input {
	padding: 12px 16px;
	border-radius: 8px;
	border: none;
	outline: none;
	width: 400px;
	background-color: #ececec;
	margin-right: 10px;
	text-transform: capitalize;
	font-weight: 300;
}

.footer .subscribe button {
	font-size: 14px;
	text-transform: capitalize;
	padding: 12px 20px;
	background-color: #0446aa;
	border: none;
	border-radius: 8px;
	color: #fff;
	font-weight: 600;
}

.footer .subscribe button:hover {
	background-color: #0052cc;
}

/* ANCHOR */

#about-us .hero-header,
#team .hero-header,
#blog .hero-header,
#blog-detail .hero-header {
	padding-left: 12px;
	padding-top: 0;
	padding-bottom: 0;
	height: 140px;
	border-top: 1px solid #d9d9d9;
}

#about-us .hero-header .content h1,
#team .hero-header .content h1,
#blog .hero-header .content h1,
#blog-detail .hero-header .content h1 {
	font-size: 28px;
	line-height: 140px;
	margin: 0;
	text-transform: capitalize;
}

#about-us .hero-header .content div a,
#team .hero-header .content div a,
#blog .hero-header .content div a,
#blog-detail .hero-header .content div a {
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	color: #777;
	text-decoration: none;
	line-height: 140px;
}

#about-us .hero-header .content div a:hover,
#team .hero-header .content div a:hover,
#blog .hero-header .content div a:hover,
#blog-detail .hero-header .content div a:hover {
	color: #0052cc;
	transition: .1s;
}

#about-us .hero-header .content div i,
#team .hero-header .content div i,
#blog .hero-header .content div i,
#blog-detail .hero-header .content div i {
	color: #9c9c9c;
	padding: 0 7px;
	line-height: 140px;
}

#team .bg-btn#button button {
	background-color: #212529;
	padding: 12px 24px;
	border: #212529 1px solid;
	margin: 0;
}

#team .bg-btn#button button:hover {
	background-color: #32383e;
}

#team .infor .item {
	border-bottom: 1px solid #e6e6e6;
	display: flex;
	align-items: center;
}

#team .infor .item:nth-child(3) {
	border-bottom: none;
}

#team .infor .item h1 {
	font-size: 32px;
	font-weight: 600;
	margin-bottom: 5px;
}

#team .infor .item h2 {
	font-size: 14px;
	font-weight: 600;
	color: #0052cc;
	text-transform: uppercase;
}

#team .infor .item .content-body {
	border-bottom: 1px solid #e6e6e6;
}

#team .infor .item .content-body h6 a {
	color: #0052cc;
	margin: 0;
	text-decoration: none;
}

#team .infor .item .contact h6 {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bolder;
	margin: 0;
}

#team .infor .item .contact ul.social {
	padding-left: 15px;
	margin: 0;
}

#team .infor .item .contact ul.social li a {
	text-decoration: none;
	padding-top: 0;
	padding-left: 0;
}

#team .infor .item .contact ul.social li a i {
	color: #212529;
	border: none;
	font-size: 14px;
}

#team .infor .item .contact ul.social li a i:hover {
	color: #fff;
}

#team .infor .item div.img {
	height: 550px;
	overflow: hidden;
	position: relative;
}

#team .infor .item div.img img {
	width: 100%;
	position: absolute;
	bottom: 0;
}

/* NOTE blog */
#blog .body .blog-list .item img {
	width: 100%;
}

#blog .body .blog-list .item .content ul {
	padding: 0;
	margin: 0;
	font-size: 12px;
	color: #777;
	font-weight: 300;
}

#blog .body .blog-list .item .content a {
	color: #212529;
	text-decoration: none;
	font-size: 21px;
	font-weight: 600;
}

#blog .body .blog-list .item .content a:hover {
	color: #0052cc;
}

#blog .body .blog-list .item .content p {
	font-size: 14px;
	color: #777;
	font-weight: 300;
}

#blog .body .blog-list .item .content a.more {
	color: #212529;
	text-decoration: none;
	font-size: 12px;
	font-weight: 500;
}

#blog .body .blog-list .item .content a.more:hover {
	color: #0052cc;
}

#blog .body .blog-list .nav.nav-pills .nav-item .nav-link {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #e8e8e8;
}

#blog .body .sidebar-right .sidebar .section-title-blog h1,
#blog-detail .body .sidebar-right .sidebar .section-title-blog h1 {
	font-size: 21px;
	font-weight: 600;
}

#blog .body .sidebar-right .sidebar .section-title-blog p,
#blog-detail .body .sidebar-right .sidebar .section-title-blog p {
	font-size: 14px;
	color: #777;
	padding-bottom: 30px;
	border-bottom: 1px solid #e8e8e8;
	margin: 0;
}

#blog .body .sidebar-right .sidebar .search-input,
#blog-detail .body .sidebar-right .sidebar .search-input {
	padding: 30px 0 0 0;
}

#blog .body .sidebar-right .sidebar .search-input input,
#blog-detail .body .sidebar-right .sidebar .search-input input {
	width: 90%;
	border: none;
	background-color: #f5f5f5;
	padding: 12px 16px;
}

#blog .body .sidebar-right .sidebar .search-input i,
#blog-detail .body .sidebar-right .sidebar .search-input i {
	width: 10%;
	background-color: #f5f5f5;
	line-height: 50px;
	padding-left: 5px;
}

#blog-detail .body .sidebar-right .sidebar .search,
#blog .body .sidebar-right .sidebar .recent-posts,
#blog .body .sidebar-right .sidebar .recent-comments,
#blog-detail .body .sidebar-right .sidebar .recent-posts,
#blog-detail .body .sidebar-right .sidebar .recent-comments {
	padding-bottom: 30px;
	padding-top: 30px;
	border-bottom: 1px solid #e8e8e8;
}

#blog .body .sidebar-right .sidebar .search {
	padding-bottom: 30px;
	border-bottom: 1px solid #e8e8e8;
}

#blog .body .sidebar-right .sidebar .recent-posts .list ul,
#blog-detail .body .sidebar-right .sidebar .recent-posts .list ul {
	padding: 0;
	margin: 0;
	font-size: 12px;
	color: #777;
	font-weight: 300;
}

#blog .body .sidebar-right .sidebar .recent-posts .list a,
#blog-detail .body .sidebar-right .sidebar .recent-posts .list a {
	font-size: 16px;
	color: #212529;
	text-decoration: none;
	font-weight: 600;
}

#blog .body .sidebar-right .sidebar .recent-posts .list a:hover,
#blog-detail .body .sidebar-right .sidebar .recent-posts .list a:hover {
	color: #0052cc;
}

#blog .body .sidebar-right .sidebar .recent-comments .list .item ul li,
#blog-detail .body .sidebar-right .sidebar .recent-comments .list .item ul li {
	font-size: 14px;
	color: #777;
	font-weight: 300;
	margin-right: 5px;
}

#blog .body .sidebar-right .sidebar .recent-comments .list .item a,
#blog-detail .body .sidebar-right .sidebar .recent-comments .list .item a {
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
	color: #212529;
	text-decoration: none;
}

#blog .body .sidebar-right .sidebar .recent-comments .list .item a:hover,
#blog-detail .body .sidebar-right .sidebar .recent-comments .list .item a:hover {
	color: #0052cc;
}

#blog .body .sidebar-right .sidebar .recent-comments .list .item p,
#blog-detail .body .sidebar-right .sidebar .recent-comments .list .item p {
	font-size: 10px;
	color: #777;
	font-weight: 300;
	margin: 0;
	line-height: 16px;
}

#blog .body .sidebar-right .sidebar .categories,
#blog-detail .body .sidebar-right .sidebar .categories {
	padding-bottom: 30px;
	padding-top: 30px;
	border-bottom: none;
}

#blog .body .sidebar-right .sidebar .categories ul li a,
#blog-detail .body .sidebar-right .sidebar .categories ul li a {
	color: #666;
	text-decoration: none;
}

#blog .body .sidebar-right .sidebar .categories ul li a:hover,
#blog-detail .body .sidebar-right .sidebar .categories ul li a:hover {
	color: #0052cc;
}

#blog .body .sidebar-right .sidebar .categories ul li i,
#blog-detail .body .sidebar-right .sidebar .categories ul li i {
	font-size: 5px;
	margin-right: 5px;
}

#blog .body .sidebar-right .sidebar .categories ul li p,
#blog-detail .body .sidebar-right .sidebar .categories ul li p {
	margin: 0;
}

#blog-detail .body .blog-list ul {
	padding: 0;
	margin: 0;
	font-size: 12px;
	color: #777;
	font-weight: 300;
}

#blog-detail .body .blog-list img {
	width: 100%;
	margin: 10px 0 26px 0;
}

#blog-detail .body .blog-list p {
	font-size: 14px;
	color: #777;
}

#blog-detail .body .blog-list .line {
	width: 100%;
	height: 1px;
	background-color: #e8e8e8;
	margin: 40px 0;
}

#blog-detail .body .blog-list .author h1,
#blog-detail .body .blog-list .cmt h1 {
	font-size: 21px;
	font-weight: 600;
}

#blog-detail .body .blog-list .author img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin: 0 20px 0 0;
}

#blog-detail .body .blog-list .author h2 {
	font-size: 16px;
	font-weight: 600;
}

#blog-detail .body .blog-list .author p {
	font-size: 13px;
	color: #777;
	font-weight: 300;
	margin: 0;
}

#blog-detail .body .blog-list .cmt .item img {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	margin-right: 20px;
	padding: 0;
}

#blog-detail .body .blog-list .cmt .item .arrow {
	border-bottom: 12px solid transparent;
	border-right: 12px solid #f3f3f3 !important;
	border-top: 12px solid transparent;
	height: 0;
	margin: 12px 0 0 0;
	width: 0;
}

#blog-detail .body .blog-list .cmt .item .content {
	width: 100%;
	background-color: #f3f3f3;
	padding: 20px 20px 10px 20px;
	border-radius: 5px;
}

#blog-detail .body .blog-list .cmt .item .content h2 {
	font-size: 16px;
	font-weight: 600;
}

#blog-detail .body .blog-list .cmt .item .content p {
	font-size: 13px;
	color: #777;
	font-weight: 300;
	margin: 5px;
}

#blog-detail .body .blog-list .cmt .item .content span {
	font-size: 13px;
	color: #999;
	font-weight: 300;
	margin: 0;
}

#blog-detail .body .blog-list .your-cmt h1 {
	font-size: 21px;
	font-weight: 600;
	margin-bottom: 20px;
}

#blog-detail .body .blog-list .your-cmt .reciew-form {
	background-color: #f3f3f3;
	padding: 30px;
	border-radius: 5px;
}

#blog-detail .body .blog-list .your-cmt .reciew-form .infor {
	margin: 0;
}

#blog-detail .body .blog-list .your-cmt .reciew-form .infor label {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 5px;
}

#blog-detail .body .blog-list .your-cmt .reciew-form .infor input {
	width: 100%;
	border-radius: 8px;
	padding: 16px;
	border: none;
	outline: none;
}

#blog-detail .body .blog-list .your-cmt .reciew-form .your-comment {
	padding: 0 12px;
}

#blog-detail .body .blog-list .your-cmt .reciew-form .your-comment label {
	margin-top: 30px;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 5px;
}

#blog-detail .body .blog-list .your-cmt .reciew-form .your-comment textarea {
	width: 100%;
	border-radius: 8px;
	height: 230px;
	padding: 16px;
	border: none;
	outline: none;
}

#blog-detail .body .blog-list .your-cmt .reciew-form .bg-btn#button button {
	padding: 12px 38px;
	background-color: #222529;
	border: none;
	border-radius: 8px;
	margin: 0;
}

#blog-detail .body .blog-list .your-cmt .reciew-form .bg-btn#button button:hover {
	background-color: #33383e;
}

/* ANCHOR animation */

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-duration: var(--animate-duration);
	animation-duration: var(--animate-duration);
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.expandIn-300 {
	animation-name: expandIn;
	animation-delay: 300ms;
}

.expandIn-100 {
	animation-name: expandIn;
	animation-delay: 100ms;
}

@keyframes expandIn {
	0% {
		opacity: 0;
		transform: scale(.8);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.fadeInUpShorter-100 {
	animation-name: fadeInUpShorter;
	animation-delay: 100ms;
}

.fadeInUpShorter-300 {
	animation-name: fadeInUpShorter;
	animation-delay: 400ms;
}

@keyframes fadeInUpShorter {
	0% {
		opacity: 0;
		transform: translate(0, 100px);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}


@media screen and (max-width:1199px) {
	#bg-nav .header-container.sticky {
		padding: 0 45px;
	}

	.hero-header {
		padding-left: 45px;
		height: 920px;
	}

	.hero-header .sub-banner .item .bg,
	.hero-header .sub-banner .item .bg-blue,
	.hero-header .sub-banner .item img {
		width: 100%;
		height: 100%;
	}

	.hero-header .sub-banner {
		width: 662px;
		right: 180px;
		bottom: 100px;
	}

	.hero-header .sub-banner .owl-carousel.owl-drag .owl-item,
	.hero-header .sub-banner .owl-carousel.owl-drag .owl-item.active {
		width: 304px !important;
		height: 125px !important;
		display: block;
	}

	.hero-header .sub-banner .item h1 {
		top: 35px;
	}

	.hero-header .sub-banner .item p {
		top: 72px;
	}

	.sticky+.hero-header {
		height: 1020px;
	}

	.stats .content {
		left: 0;
	}

	#contact {
		padding: 100px 0;
	}

	.footer .subscribe input {
		width: 300px;
	}
}

@media screen and (max-width:992px) {
	#bg-nav .header-container.sticky {
		padding: 0 45px;
	}

	.sticky+.hero-header {
		height: 1500px;
	}

	.hero-header {
		height: 1400px;
	}

	.hero-header .sub-banner {
		width: 662px;
		left: 8px;
		bottom: 70px;
	}

	.hero-header .user {
		left: 90px;
		top: 475px;
	}

	.hero-header .custom-element-4 {
		top: 411px;
		left: 504px;
	}

	.mission .img .img-bg {
		left: 175px;
	}

	.mission .img .img-main {
		left: 225px;
	}

	.mission .img .dots-1 {
		top: 23px;
		left: 65px;
	}

	.mission .img .dots-2 {
		top: 240px;
		left: 490px;
	}

	.mission .content-body {
		margin-top: 30px;
	}

	.mission .content-body .list {
		margin: 0;
	}

	.strategic .border {
		left: 350px;
	}

	.testimonials .content .item p.cmt {
		width: 330px;
	}

	.brand div.row div .img {
		margin-bottom: 50px;
	}

	.brand {
		margin: 100px auto 70px auto;
	}

	#contact .title .phone-number {
		justify-content: start !important;
		margin-top: 20px;
	}

	#contact .content {
		display: block !important;
	}

	#contact .content input,
	#contact .content .bg-btn#button button {
		width: 100%;
		margin: 10px 0;
		justify-content: center;
	}

	#contact .content h1 {
		padding: 0 0 10px 0;
	}

	.blog .content .item {
		margin-bottom: 20px;
	}

	#infor .item {
		margin-bottom: 30px;
	}

	#infor {
		margin-bottom: 70px;
	}

	.footer .nav-links {
		margin-top: 30px;
	}

	.footer .subscribe {
		display: block !important;
	}

	.footer .subscribe h1 {
		margin-bottom: 20px;
	}

	.footer .subscribe input {
		width: 622px;
	}

	#bg-nav .header-container .header-nav #button button {
		display: none;
	}

	.navbar-toggler,
	.navbar-toggler:focus {
		box-shadow: none;
		border: none;
		/* margin-top: 25px; */
		padding-right: 15px;
	}

	#bg-nav .header-container .header-nav #nav .navbar-expand-lg .navbar-toggler i {
		color: #fff;
		background-color: #0052cc;
		padding: 8px 14px;
		border-radius: 5px;
		outline: none;
	}

	.navbar-expand-lg .navbar-nav {
		width: 200px;
		background-color: #fff;
		padding: 0 20px;
	}

	.navbar-expand-lg .navbar-nav .nav-link {
		padding: 10px;
		font-size: 16px;
		border-bottom: 1px solid #eee;
	}

	.navbar-expand-lg .navbar-nav .nav-link:nth-child(4) {
		border-bottom: none;
	}

	/* .header-nav ul li.search .btn {
		margin-top: 28px;
	} */

	.navbar-collapse {
		position: absolute;
		top: 68px;
		right: 13px;
		z-index: 2;
	}

	.header-nav ul li ul.dropdown-menu.show {
		right: -10px !important;
		top: 56px !important;
	}

	.sidebar-right .navbar-toggler-icon {
		position: fixed;
		right: 0;
		z-index: 99;
		background-color: #f6f4f4;
		border: 1px solid #ddd;
		padding: 23px;
		top: 50%;
	}

	.offcanvas.offcanvas-end {
		height: 100%;
		overflow: auto;
	}

	.offcanvas-header {
		padding: 25px 25px 16px 16px;
	}

	.btn-close:focus {
		box-shadow: none;
	}

}

@media screen and (max-width:767px) {
	.bg-header {
		display: none;
	}

	#bg-nav .header-container.sticky {
		padding: 0 12px;
	}

	.sticky+.hero-header {
		padding-top: 100px;
	}

	.navbar-toggler,
	.navbar-toggler:focus,
	.header-nav ul li.search .btn {
		margin-top: 0;
	}

	.navbar-collapse {
		top: 60px;
		right: 15px;
	}

	.header-nav ul li ul.dropdown-menu.show {
		top: 60px !important;
	}

	.hero-header {
		padding: 0 12px 50px 12px;
	}

	.hero-header h3 {
		font-size: 16px;
	}

	.hero-header h1 {
		font-size: 28px;
		line-height: 42px;
	}

	.hero-header .user {
		left: 68px;
		top: 513px;
	}

	.hero-header .custom-element-1 {
		top: -71px;
		left: -151px;
	}

	.hero-header .custom-element-2 {
		top: -108px;
		left: 292px;
	}

	.hero-header .custom-element-3 {
		top: 106px;
		left: 114px;
	}

	.hero-header .custom-element-4 {
		top: 316px;
		left: 174px;
	}

	.hero-header .sub-banner {
		width: 100%;
		left: 0px;
		bottom: 90px;
	}

	.hero-header .sub-banner .owl-carousel.owl-drag .owl-item,
	.hero-header .sub-banner .owl-carousel.owl-drag .owl-item.active {
		width: 342px !important;
		height: 100% !important;
	}

	#title {
		margin: 60px auto 34px;
	}

	#title #divider-small {
		margin: 0 auto 15px auto;
	}

	#title h3 {
		font-size: 14px;
		letter-spacing: 2.5px;
		margin-bottom: 5px;
	}

	#title h1 {
		font-size: 24px;
		line-height: 26px;
		margin-bottom: 0;
	}

	#title p {
		margin: 0;
		font-size: 15px;
	}

	.mission .img {
		height: 300px;
	}

	.mission .img .img-bg {
		width: 200px;
		height: 200px;
		left: 65px;
	}

	.mission .img .img-main {
		width: 200px;
		height: 200px;
		left: 105px;
	}

	.mission .img .dots-1 {
		top: -4px;
		left: -5px;
	}

	.mission .img .dots-2 {
		top: 149px;
		left: 219px;
	}

	.bg-services {
		padding-bottom: 70px;
	}

	.services div .item {
		padding-bottom: 30px;
	}

	#particles-js {
		height: 575px;
	}

	.footer .subscribe input {
		width: 100%;
	}

	.bg-testimonials {
		padding-bottom: 70px;
	}

	.testimonials .content {
		width: 390px !important;
	}

	.testimonials .content .item p.cmt {
		width: 100%;
	}

	#contact {
		padding: 70px 0;
	}

	#contact .title h1 {
		font-size: 24px;
	}

	#contact .title .phone-number {
		margin-top: 10px;
	}

	.footer .subscribe input {
		width: 292px;
	}

	.offcanvas.offcanvas-end {
		width: 80%;
	}

	.sidebar-right .navbar-toggler-icon {
		padding: 16px;
	}

	#team .infor .item h1 {
		margin-top: 20px;
	}

	#team .infor .item .content-body {
		padding-bottom: 0 !important;
	}

	#team .infor .item .contact {
		margin-top: 20px !important;
	}

	.active.fadeInRightShorter,
	.active.fadeInLeftShorter {
		animation: fadeInUpShorter 1s;
	}
}